.result {
  height: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  background: var(--color-surface);
  color: var(--color-text);
}

.footer {
  box-shadow: var(--color-shadow) 0 1.95px 5px;
  padding: 10px 15px;
  display: flex;
}

.footerPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerAction {
  flex-grow: 1;
}

.container {
  overflow-x: auto;
  flex-grow: 1;
  white-space: nowrap;
}


.queryLoading {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  padding-top: 50px;
}