.wrap {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
  user-select: none;
}

.content {
  flex-grow: 1;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding: 2px 5px;
    background: #3498db;
    color: #fff;
    margin-right: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
  }
}

.mono {
  font-family: CascadiaCode, sans-serif;
  font-weight: 300;
  color: var(--color-table-cell-code);
}

.null {
  color: var(--color-text);
  opacity: 0.5;
}

.right {
  text-align: right;
}

.number {
  text-align: right;
  color: var(--color-table-cell-number);
}
