.container {
  width: 100%;
  height: 34px;
  border: 1px solid var(--color-surface);
  font-size: 1rem;
  box-sizing: border-box;
}

.changed {
  border: 1px solid var(--color-table-change);
  background: var(--color-table-change);
  color: #000;
}

.focused {
  border: 1px solid var(--color-critical);
}

.inputContainer {
  display: flex;
  width: 100%;
  height: 100%;

  .more {
    background: #eee;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
}

.input {
  padding: 5px 10px;
  border: 1px solid var(--color-surface);
  background: var(--color-surface);
  color: var(--color-text);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1rem;
}

.select {
  padding: 5px 10px;
  border: 1px solid var(--color-surface);
  background: var(--color-surface);
  color: var(--color-text);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 1rem;
}
