.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;

  .add {
    padding: 5px 10px;
    background: var(--color-surface-hover);
    cursor: pointer;
    display: flex;
    color: #27ae60;

    &:hover {
      background: #27ae60;
      color: #fff;
    }

    span {
      display: block;
      padding: 2px;
      align-self: center;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    background: var(--color-surface-hover);
    overflow-x: overlay;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-scrollbar-track);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-scrollbar);
    }

    &:hover::-webkit-scrollbar-thumb {
      background: var(--color-scrollbar-hover);
    }

    li {
      padding: 5px 10px;
      display: flex;
      cursor: pointer;
      background: var(--color-surface-light);
      color: var(--color-text);
      white-space: nowrap;

      img {
        display: inline-block;
      }

      span {
        display: block;
        padding: 2px;
        align-self: center;
      }

      span.close {
        visibility: hidden;
        margin-left: 2px;
        width: 25px;
        text-align: center;
        border-radius: 2px;
        color: var(--color-text);
      }

      span.icon {
        color: #f39c12;
        margin-right: 5px;
      }

      &.selected {
        background: var(--color-surface);
        color: var(--color-text);
      }

      &.drag-hover {
        background: var(--color-list-hover);
      }

      &:hover {
        cursor: pointer;

        span.close {
          visibility: visible;
        }
      }

      span.close:hover {
        background: var(--color-surface-hover);
      }
    }
  }
}

.contentContainer {
  flex-grow: 1;
  position: relative;
}
