.statusBarContainer {
  padding: 5px 10px;
  background: #8e44ad;
  color: #fff;
  font-size: 0.9rem;
}

.statusBarContainer ul {
  list-style: none;
  display: flex;
}

.popup {
  font-size: 1rem;
  width: 300px;
  background: var(--color-surface);
  position: fixed;
  z-index: 100;
  padding: 20px;
  right: 10px;
  bottom: 40px;
  box-shadow: var(--color-shadow) 0px 3px 8px;
  border: 1px solid var(--color-surface-hover);
}

.popup h1 {
  font-size: 1.5rem;
}
