.input {
  font-size: 1rem;
  width: 100%;
  font-family: inherit;
  outline: none;
  border: 0;
  background: var(--color-surface);
  color: var(--color-text);

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
}

.content {
  display: flex;
  border: 2px solid var(--color-input-border);
  border-radius: 4px;
  padding: 10px;

  &:focus-within {
    border: 2px solid var(--color-text-link);

    .action_icon {
      img {
        opacity: 1;
      }
    }
  }
}
