.shadow {
  border-bottom: 2px solid var(--color-surface-hover);
}

.shadowTop {
  box-shadow: var(--color-shadow) 0 1.95px 5px;
}

.filler {
  flex-grow: 1;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  color: var(--color-text);

  span.icon {
    display: inline-block;
  }

  span.icon:last-child {
    margin-right: 0;
  }

  span.text {
    margin-right: 8px;
  }

  span.badge {
    background: var(--color-critical);
    color: #fff;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  &:hover {
    background: var(--color-surface-light);
  }
}

.button.primary {
  background: var(--color-primary);
  color: var(--color-primary-text);

  &:hover {
    background: var(--color-primary-hover);
  }
}

.separator {
  width: 1px;
  padding: 0 !important;
  background: var(--color-border);
  margin: 0 6px;
}

.textfield {
  padding: 0 !important;

  input {
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
    border: 1px solid var(--color-border);
    background: inherit;
    outline: none;
    color: inherit;
  }
}

.button.destructive {
  color: var(--color-critical);
}

.toolbar {
  ul {
    list-style-type: none;
    display: flex;
    padding: 5px 10px;

    li {
      display: flex;
      padding: 5px 10px;
      justify-content: center;
      align-items: center;
    }
  }
}
