.shadow {
  border-bottom: 2px solid var(--color-surface-hover);
}

.toolbar {
  ul {
    list-style-type: none;
    display: flex;
    padding: 5px 10px;

    li {
      display: block;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      color: var(--color-text);

      &:hover {
        background: var(--color-surface-light);
      }

      span.icon {
        display: inline-block;
        color: #27ae60;
        margin-right: 8px;
      }
    }
  }
}