.content {
  position: absolute;
  padding: 10px;
  top: 0;
  margin-top: 24px;
  left: 0;
  z-index: 1200;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #f6e58d;
  font-weight: normal;
  border-radius: 8px;
}

.content p {
  margin-bottom: 10px;
}

.tooltip {
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 16px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.tooltip img {
  width: 12px;
  height: 12px;
}
