.contextMenu {
  position: fixed;
  background: var(--color-surface);
  z-index: 90000;
  border-radius: 8px;
  padding: 3px 0;
  border: 1px solid var(--color-border);

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 30px minmax(150px, auto) auto;

    > li {
      display: contents;

      > div {
        span {
          display: block;
          height: 100%;
          width: 100%;
          padding: 7px 5px;
          cursor: pointer;
        }
      }

      > div:last-child {
        padding-right: 4px;

        span {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      > div:first-child {
        padding-left: 4px;

        span {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }

      &:hover > div {
        span {
          background: var(--color-surface-hover);
        }
      }
    }

    > li.disabled {
      > div {
        span {
          color: var(--color-text-disabled);
        }
      }

      &:hover > div {
        span {
          background: inherit;
        }
      }
    }

    > li.separator {
      > div {
        padding-bottom: 6px;
        margin-bottom: 6px;
        border-bottom: 1px solid var(--color-border);
      }
    }

    > li.destructive {
      > div {
        color: var(--color-critical);
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
  }
}

.text {
  span {
    padding-right: 20px !important;
  }
}
