.contextMenu {
  position: fixed;
  background: #fff;
  z-index: 90000;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3px;
  border-radius: 3px;;
  border: 1px solid #aaa;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 30px minmax(150px, auto) auto;

    > li {
      display: contents;

      > span {
        display: block;
        padding: 5px;
        cursor: pointer;
      }

      &:hover > span {
        background: #eee;
      }
    }

    > li.disabled {
      > span { 
      color: #555;
      }

      &:hover > span {
        background: inherit;
      }
    }

    > li.separator {
      > span {
        border-bottom: 1px solid #aaa;
      }
    }

    > li.destructive {
      > span {
        color: #f00;
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  
  img {
    width: 20px;
    height: 20px;
  }
}

.text {
  padding-right: 20px !important;
}