@keyframes ping {
  0% {
    transform: scale(1);
    background: #e74c3c;
  }
  50% {
    transform: scale(1.5);
    background: #ff7979;
  }
  100% {
    transform: scale(1);
    background: #ff7979;
  }
}

.tables {
  background: var(--color-list-surface);
  height: 100%;
}

.header {
  padding: 8px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    i {
      white-space: nowrap;
    }
  }
}

.ping {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #e74c3c;
  border-radius: 50%;
  animation: ping 1s ease-out infinite;
}

.searchContainer {
  margin-bottom: 10px;
}

.noResultsText {
  margin: 10px 10px 0;
  opacity: 0.75;
}
