.queryContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.queryEditor {
  flex-grow: 1;
  overflow-y: auto;
}

.queryNameEditor {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 0px 10px;
  border-right: 1px solid var(--color-border);
  margin: 7px 0;

  input {
    color: var(--color-text);
    background: var(--color-surface);
    font-weight: bold;
    outline: none;
    border: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.bottomContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;

  ul {
    list-style: none;
    display: flex;
    flex-grow: 1;
    background: var(--color-surface-hover);
    overflow-x: overlay;

    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-scrollbar-track);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-scrollbar);
    }

    &:hover::-webkit-scrollbar-thumb {
      background: var(--color-scrollbar-hover);
    }

    li {
      padding: 5px 10px;
      display: flex;
      cursor: pointer;
      background: var(--color-surface-light);
      color: var(--color-text);
      white-space: nowrap;

      img {
        display: inline-block;
      }

      span {
        display: block;
        padding: 2px;
        align-self: center;
      }

      span.close {
        visibility: hidden;
        margin-left: 2px;
        width: 25px;
        text-align: center;
        border-radius: 2px;
        color: var(--color-text);
      }

      span.icon {
        margin-right: 5px;
      }

      &.selected {
        background: var(--color-surface);
        color: var(--color-text);
      }

      &.drag-hover {
        background: var(--color-list-hover);
      }

      &:hover {
        cursor: pointer;

        span.close {
          visibility: visible;
        }
      }

      span.close:hover {
        background: var(--color-surface-hover);
      }
    }
  }
}

.contentContainer {
  flex-grow: 1;
  position: relative;
}

.content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.errorPanel {
  padding: 5px 10px;
}
