.container {
  width: 100%;
}

.content {
  padding: 5px 10px;
  width: 100%;
}

.changed {
  background: #f6e58d;
}

.typedContainer {
  width: 100%;
  padding: 5px 10px;
  display: flex;
}

.badge {
  padding: 2px 5px;
  background: #3498db;
  color: #fff;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.code {
  font-family: CascadiaCode;
  font-weight: 300;
  color: #95a5a6;
}

.number {
  text-align: right;
  color: #2980b9;
}

.input {
  padding: 5px 10px;
  border: 1px solid #000;
  box-sizing: border;
  width: 100%;
  outline: none;
}
