.sideMenu {
  border-left: 2px solid var(--color-text-link);
  margin-left: 20px;
  padding: 20px;

  ul {
    margin-left: 10px;
    padding: 0;

    li {
      cursor: pointer;
      margin-bottom: 5px;
      color: var(--color-text-link);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}