* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------------------
  Color Variables
----------------------------------- */
:root {
  --color-surface: #fff;
  --color-surface-hover: #eee;

  --color-border: #aaa;

  --color-text: #000;
  --color-text-link: #1a64f4;
  --color-text-disabled: #555;

  /* For Button */
  --color-surface-light: #ecf0f1;
  --color-primary: #1a64f4;
  --color-primary-text: #fff;

  --color-critical: #e74c3c;

  /* Input */
  --color-input-border: #e8eaf0;

  /* For Side List */
  --color-list-surface: #f3f3f3;
  --color-list-hover: #e8e8e8;
  --color-list-selected: #e4e6f1;
  --color-list-line-guide: #ccc;

  /* For Table */
  --color-table-grid: #eee;
  --color-table-change: #f6e58d;

  --color-table-cell-number: #2980b9;
  --color-table-cell-code: #95a5a6;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url(./../../assets/fonts/CascadiaCode.woff2) format('woff2');
}

@font-face {
  font-family: 'OpenSans';
  src: url(./../../assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: bold;
  src: url(./../../assets/fonts/OpenSans-Bold.ttf) format('truetype');
}

html,
body {
  font-family: 'OpenSans';
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.mono {
  font-family: 'CascadiaCode';
}
